In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
import warnings
warnings.filterwarnings("ignore")

In [2]:
energydf = pd.read_csv(Path('Resources/energy_dataset.csv'))
weatherdf = pd.read_csv(Path('Resources/weather_features.csv'))

In [3]:
energydf.head()

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,196.0,0.0,6378.0,17.0,NaN,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00+01:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,...,195.0,0.0,5890.0,16.0,NaN,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00+01:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,...,196.0,0.0,5461.0,8.0,NaN,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00+01:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,...,191.0,0.0,5238.0,2.0,NaN,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00+01:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,...,189.0,0.0,4935.0,9.0,NaN,4861.0,21785.0,20264.0,38.41,56.04

In [4]:
energydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 29 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   time                                         35064 non-null  object
 1   generation biomass                           35045 non-null  float64
 2   generation fossil brown coal/lignite         35046 non-null  float64
 3   generation fossil coal-derived gas           35046 non-null  float64
 4   generation fossil gas                        35046 non-null  float64
 5   generation fossil hard coal                  35046 non-null  float64
 6   generation fossil oil                        35045 non-null  float64
 7   generation fossil oil shale                  35046 non-null  float64
 8   generation fossil peat                       35046 non-null  float64
 9   generation geothermal                        35046 non-null  float64
 10  generation hydro pumped storage aggregated   0 non-null      float64
 11  generation hydro pumped storage consumption  35045 non-null  float64
 12  generation hydro run-of-river and poundage   35045 non-null  float64
 13  generation hydro water reservoir             35046 non-null  float64
 14  generation marine                            35045 non-null  float64
 15  generation nuclear                           35047 non-null  float64
 16  generation other                             35046 non-null  float64
 17  generation other renewable                   35046 non-null  float64
 18  generation solar                             35046 non-null  float64
 19  generation waste                             35045 non-null  float64
 20  generation wind offshore                     35046 non-null  float64
 21  generation wind onshore                      35046 non-null  float64
 22  forecast solar day ahead                     35064 non-null  float64
 23  forecast wind offshore eday ahead            0 non-null      float64
 24  forecast wind onshore day ahead              35064 non-null  float64
 25  total load forecast                          35064 non-null  float64
 26  total load actual                            35028 non-null  float64
 27  price day ahead                              35064 non-null  float64
 28  price actual                                 35064 non-null  float64
dtypes: float64(28), object(1)
memory usage: 7.8+ MB

In [5]:
#Find Null values in Energy dataframe
for column in energydf.columns:
    print(f"Column {column} has {energydf[column].isnull().sum()} null values")

Column time has 0 null values
Column generation biomass has 19 null values
Column generation fossil brown coal/lignite has 18 null values
Column generation fossil coal-derived gas has 18 null values
Column generation fossil gas has 18 null values
Column generation fossil hard coal has 18 null values
Column generation fossil oil has 19 null values
Column generation fossil oil shale has 18 null values
Column generation fossil peat has 18 null values
Column generation geothermal has 18 null values
Column generation hydro pumped storage aggregated has 35064 null values
Column generation hydro pumped storage consumption has 19 null values
Column generation hydro run-of-river and poundage has 19 null values
Column generation hydro water reservoir has 18 null values
Column generation marine has 19 null values
Column generation nuclear has 17 null values
Column generation other has 18 null values
Column generation other renewable has 18 null values
Column generation solar has 18 null values
Column generation waste has 19 null values
Column generation wind offshore has 18 null values
Column generation wind onshore has 18 null values
Column forecast solar day ahead has 0 null values
Column forecast wind offshore eday ahead has 35064 null values
Column forecast wind onshore day ahead has 0 null values
Column total load forecast has 0 null values
Column total load actual has 36 null values
Column price day ahead has 0 null values
Column price actual has 0 null values

In [6]:
energydf = energydf.drop(["generation hydro pumped storage aggregated","forecast wind offshore eday ahead"],axis =1)

In [7]:
energydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 27 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   time                                         35064 non-null  object
 1   generation biomass                           35045 non-null  float64
 2   generation fossil brown coal/lignite         35046 non-null  float64
 3   generation fossil coal-derived gas           35046 non-null  float64
 4   generation fossil gas                        35046 non-null  float64
 5   generation fossil hard coal                  35046 non-null  float64
 6   generation fossil oil                        35045 non-null  float64
 7   generation fossil oil shale                  35046 non-null  float64
 8   generation fossil peat                       35046 non-null  float64
 9   generation geothermal                        35046 non-null  float64
 10  generation hydro pumped storage consumption  35045 non-null  float64
 11  generation hydro run-of-river and poundage   35045 non-null  float64
 12  generation hydro water reservoir             35046 non-null  float64
 13  generation marine                            35045 non-null  float64
 14  generation nuclear                           35047 non-null  float64
 15  generation other                             35046 non-null  float64
 16  generation other renewable                   35046 non-null  float64
 17  generation solar                             35046 non-null  float64
 18  generation waste                             35045 non-null  float64
 19  generation wind offshore                     35046 non-null  float64
 20  generation wind onshore                      35046 non-null  float64
 21  forecast solar day ahead                     35064 non-null  float64
 22  forecast wind onshore day ahead              35064 non-null  float64
 23  total load forecast                          35064 non-null  float64
 24  total load actual                            35028 non-null  float64
 25  price day ahead                              35064 non-null  float64
 26  price actual                                 35064 non-null  float64
dtypes: float64(26), object(1)
memory usage: 7.2+ MB

In [8]:
len(energydf. index) 
# 35064

35064

In [9]:
#Remove the null values
energydf = energydf.dropna()

In [10]:
len(energydf. index)

35017

In [11]:
dt = energydf['time']
energydf[['date_time','delete']] =  dt.str.split("+", n=1, expand=True)
energydf.head()

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual,date_time,delete
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,0.0,6378.0,17.0,6436.0,26118.0,25385.0,50.10,65.41,2015-01-01 00:00:00,01:00
1,2015-01-01 01:00:00+01:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,...,0.0,5890.0,16.0,5856.0,24934.0,24382.0,48.10,64.92,2015-01-01 01:00:00,01:00
2,2015-01-01 02:00:00+01:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,...,0.0,5461.0,8.0,5454.0,23515.0,22734.0,47.33,64.48,2015-01-01 02:00:00,01:00
3,2015-01-01 03:00:00+01:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,...,0.0,5238.0,2.0,5151.0,22642.0,21286.0,42.27,59.32,2015-01-01 03:00:00,01:00
4,2015-01-01 04:00:00+01:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,...,0.0,4935.0,9.0,4861.0,21785.0,20264.0,38.41,56.04,2015-01-01 04:00:00,01:00

In [12]:
energydf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35017 entries, 0 to 35063
Data columns (total 29 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   time                                         35017 non-null  object
 1   generation biomass                           35017 non-null  float64
 2   generation fossil brown coal/lignite         35017 non-null  float64
 3   generation fossil coal-derived gas           35017 non-null  float64
 4   generation fossil gas                        35017 non-null  float64
 5   generation fossil hard coal                  35017 non-null  float64
 6   generation fossil oil                        35017 non-null  float64
 7   generation fossil oil shale                  35017 non-null  float64
 8   generation fossil peat                       35017 non-null  float64
 9   generation geothermal                        35017 non-null  float64
 10  generation hydro pumped storage consumption  35017 non-null  float64
 11  generation hydro run-of-river and poundage   35017 non-null  float64
 12  generation hydro water reservoir             35017 non-null  float64
 13  generation marine                            35017 non-null  float64
 14  generation nuclear                           35017 non-null  float64
 15  generation other                             35017 non-null  float64
 16  generation other renewable                   35017 non-null  float64
 17  generation solar                             35017 non-null  float64
 18  generation waste                             35017 non-null  float64
 19  generation wind offshore                     35017 non-null  float64
 20  generation wind onshore                      35017 non-null  float64
 21  forecast solar day ahead                     35017 non-null  float64
 22  forecast wind onshore day ahead              35017 non-null  float64
 23  total load forecast                          35017 non-null  float64
 24  total load actual                            35017 non-null  float64
 25  price day ahead                              35017 non-null  float64
 26  price actual                                 35017 non-null  float64
 27  date_time                                    35017 non-null  object
 28  delete                                       35017 non-null  object
dtypes: float64(26), object(3)
memory usage: 8.0+ MB

In [13]:
energydf = energydf.drop(["delete","time"],axis =1)

In [14]:
energydf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35017 entries, 0 to 35063
Data columns (total 27 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   generation biomass                           35017 non-null  float64
 1   generation fossil brown coal/lignite         35017 non-null  float64
 2   generation fossil coal-derived gas           35017 non-null  float64
 3   generation fossil gas                        35017 non-null  float64
 4   generation fossil hard coal                  35017 non-null  float64
 5   generation fossil oil                        35017 non-null  float64
 6   generation fossil oil shale                  35017 non-null  float64
 7   generation fossil peat                       35017 non-null  float64
 8   generation geothermal                        35017 non-null  float64
 9   generation hydro pumped storage consumption  35017 non-null  float64
 10  generation hydro run-of-river and poundage   35017 non-null  float64
 11  generation hydro water reservoir             35017 non-null  float64
 12  generation marine                            35017 non-null  float64
 13  generation nuclear                           35017 non-null  float64
 14  generation other                             35017 non-null  float64
 15  generation other renewable                   35017 non-null  float64
 16  generation solar                             35017 non-null  float64
 17  generation waste                             35017 non-null  float64
 18  generation wind offshore                     35017 non-null  float64
 19  generation wind onshore                      35017 non-null  float64
 20  forecast solar day ahead                     35017 non-null  float64
 21  forecast wind onshore day ahead              35017 non-null  float64
 22  total load forecast                          35017 non-null  float64
 23  total load actual                            35017 non-null  float64
 24  price day ahead                              35017 non-null  float64
 25  price actual                                 35017 non-null  float64
 26  date_time                                    35017 non-null  object
dtypes: float64(26), object(1)
memory usage: 7.5+ MB

### Create database connection

In [15]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@localhost:5432/energyconsumptiondb')
connection = engine.connect()

#### create a table for energy data frame in postgres energyComsumptiondb

In [18]:
energydf.to_sql(name='energybyhour', con=engine, if_exists='append', index=False)

In [19]:
# Read the data from postgres
pd.read_sql_query('select * from public.energybyhour', con=engine).head()

,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,generation hydro pumped storage consumption,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual,date_time
0,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,863.0,...,196.0,0.0,6378.0,17.0,6436.0,26118.0,25385.0,50.10,65.41,2015-01-01 00:00:00
1,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,920.0,...,195.0,0.0,5890.0,16.0,5856.0,24934.0,24382.0,48.10,64.92,2015-01-01 01:00:00
2,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,1164.0,...,196.0,0.0,5461.0,8.0,5454.0,23515.0,22734.0,47.33,64.48,2015-01-01 02:00:00
3,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,1503.0,...,191.0,0.0,5238.0,2.0,5151.0,22642.0,21286.0,42.27,59.32,2015-01-01 03:00:00
4,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,1826.0,...,189.0,0.0,4935.0,9.0,4861.0,21785.0,20264.0,38.41,56.04,2015-01-01 04:00:00